:root {
    --white: #f9f5f0;
    --beige: #D3C9C1;
    --dark-secondary: #D6B7B5;
    --dark-main: #2b1511;
    --black: #190c09;

    --cursive: 'Allura', cursive;
    --serif: 'Playfair Display', serif;
    --sans-serif: "Montserrat", sans-serif;
}

body {
    font-family: var(--sans-serif);
    text-align: center;
    color: var(--black);
    background-color: var(--white);
}

h1,
h2 {
    font-family: var(--serif);
}

h2 {
    font-size: 3rem;
}

h3 {
    font-family: var(--cursive);
}

.container-profiles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 6rem;
    color: var(--white);
    border-radius: 10px;
}

.flex-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-content,
.flex-content-program {
    flex: 1 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding: 1rem 2rem;
}

.flex-content-program {
    padding: 10px;
}

.flex-content .wideimg {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.iframe-location {
    height: 22rem;
    border-radius: 7%;
}

.photo-location {
    border-radius: 7%;
}

.profile {
    padding: 4rem;
}

.divwhite {
    background-color: var(--white);
}

.divbeige {
    background-color: var(--beige);
}

.divpadding {
    padding: 3rem 8rem;
}

.divpaddingtext {
    padding: 0 8rem;
}

a {
    color: var(--white);

}

a:hover {
    color: var(--dark-main);
}


.intro {
    /*
    background-size: cover;
    height: 50rem;
    text-align: center;
*/
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50vw;
}

.photo-main {
    background-image: url("images/Cover_photo_i.jpg");
}


.ourstory {
    padding: 5rem;
}

.profiles {
    padding: 5rem 0 3rem;
}

.hmain {
    font-size: 7rem;
    color: var(--dark-main);
    text-align: center;
    padding: 10rem 0 0;
    font-weight: bold;
}

.hundermain {
    font-size: 3.5rem;
}

.hname {
    font-size: 4rem;
    color: var(--dark-main);
}

.hourstory {
    padding-bottom: 3rem;
}

.hdate {
    font-family: var(--cursive);
    font-size: 2rem;
    color: var(--dark-secondary);
}

.htime {
    font-family: var(--cursive);
    font-size: 2rem;
    color: var(--white);
}

.hstory {
    font-family: var(--serif);
    font-size: 2rem;
    color: var(--dark-main);
}

.hinfo {
    padding: 3rem;
}

.hprofiles {
    color: var(--white);
}

.hfooter {
    font-size: 3.5rem;
    margin: 0;
}

.divfooter {
    padding: 5rem;
}

.pinfo {
    font-size: 1.5rem;
    padding: 4rem;
    text-align: left;
}

.pinfofull {
    font-size: 1.5rem;
    text-align: left;
    padding: 0 4rem 4rem;
}

.padress {
    font-family: var(--serif);
    text-align: right;
    font-size: 1.8rem;
}

.pstory {
    font-size: 1.2rem;
}

.pfulltext {
    max-width: 65rem;
    margin: auto;
}

.ulcolors {
    list-style-type: none;
}

.licolor::before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.color-i::before {
    background-color: var(--white);
}

.color-ii::before {
    background-color: var(--dark-main);
}

.color-iii::before {
    background-color: var(--dark-secondary);
}

.profile-img {
    height: 15rem;
    border-radius: 50%;
}

.mybtn {
    font-family: var(--serif);
    color: var(--white);
    font-size: 2rem;
    padding: 1rem 5rem;
    margin: 3rem;
    border-radius: 20px;
    background-color: var(--dark-secondary);
    border-color: var(--dark-secondary);
}

.mybtn:hover {
    color: var(--white);
    background-color: var(--beige);
    border-color: var(--beige);
}

.divprogram {
    padding: 4rem;
}

.navbar {
    background-color: var(--white);
    border-bottom: 3px solid var(--beige);
}

.navbar-brand {
    color: var(--dark-main);
    font-family: var(--cursive);
    font-size: 1.9rem;
}

.logo {
    height: 3.2rem;
    border-radius: 50%;
    padding: 0 0.5rem;
}

.logo-large {
    border-radius: 50%;
    margin: 1rem 0 0;
    height: 7rem;
}

.nav-item {
    color: var(--dark-secondary);
    font-family: var(--serif);
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.countdowntext {
    font-family: var(--cursive);
    font-size: 3rem;
    padding: 5rem;
    margin: 0;
}

.cvar {
    color: var(--dark-secondary);
}


/* Timeline story */
.timeline-story {
    position: relative;
    max-width: 120rem;
    margin: 0 auto;
}

.timeline-story::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--dark-secondary);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline::after {
    left: 31px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    margin: 0px;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12.5px;
    background-color: var(--dark-secondary);
    border: 4px solid var(--dark-secondary);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.right::after {
    left: -12.5px;
}

.content {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
    text-align: left;
}

.timeline .contentbeige {
    background-color: var(--beige);
}

.timeline .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
}

.timeline .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}


.timeline .left::after,
.timeline .right::after {
    left: 8px;
}

.timeline .right {
    left: 0%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 8rem 15rem;
}

.gallery img {
    width: calc(33.333% - 20px);
    margin: 10px;
    object-fit: cover;
    filter: grayscale(50%);
}

.gallery img:hover {
    filter: grayscale(0%);
}

@media screen and (max-width: 1200px) {
    .divpadding {
        padding: 3rem 3rem;
    }

    .divpaddingtext {
        padding: 0 3rem;
    }


    .photo-main {
        background-image: url("images/Cover_photo_ii.jpg");
    }

    .pstory {
        font-size: 1rem;
    }
}

@media screen and (max-width: 990px) {
    .gallery {
        padding: 0;
    }

    .gallery img {
        width: calc(50% - 20px);
        filter: grayscale(0%);
    }

    .photo-main {
        background-image: url("images/Cover_photo_iii.jpg");
    }

    .profiles {
        padding: 3rem 0 2rem;
    }

    .intro {
        background-size: cover;
        height: 50rem;
    }

    .navbar-nav.navbar-center {
        position: relative;
    }

    .timeline-story::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }


    .left::after,
    .right::after {
        left: 18px;
    }

    .right {
        left: 0%;
    }

    .divprogram {
        padding: 0 0 4rem;
    }

    .flex-content {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .profile {
        padding: 5%;
    }

    .hmain {
        font-size: 6rem;
    }

    .hundermain {
        font-size: 2.5rem;
    }

    .hfooter {
        font-size: 2.5rem;
        margin: 0;
    }

    .flex-info {
        display: block;
    }

    .divpadding {
        padding: 3rem 4rem;
    }

    .divpaddingtext {
        padding: 0 4rem;
    }


    .padress {
        text-align: left;
    }

    .pinfo {
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }

    .pinfofull {
        padding: 0 2rem 2rem;
    }

    .iframe-location {
        width: 100%;
    }

    .flex-content,
    .flex-content-program {
        max-width: 100%;
    }

    .navbar-brand {
        font-size: 1.8rem;
    }

    .logo {
        height: 2.4rem;
        padding: 0 0.2rem;
    }

    .nav-item {
        font-size: 1rem;
    }

}

@media screen and (max-width: 870px) {
    .container-profiles {
        display: block;
        text-align: center;
    }
}


@media screen and (max-width: 590px) {
    .gallery {
        padding: 0;
    }

    .gallery img {
        width: calc(100% - 20px);
    }

    .ourstory {
        padding: 0.5rem;
    }

    .hmain {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.3rem;
        padding: 1rem;
    }

    .profile-img {
        height: 11rem;
    }

    .hname {
        font-size: 3.2rem;
    }

    .logo-large {
        height: 4rem;
    }

    .divfooter {
        padding: 2.5rem;
    }

    .hstory {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .content {
        padding: 10px 20px;
    }

    .mybtn {
        font-size: 1.7rem;
        padding: 1rem 4rem;
        margin: 1rem;
    }

    .countdowntext {
        font-size: 2.5rem;
        padding: 2.5rem 1.5rem;
    }

    .divpadding {
        padding: 2rem 0.5rem;
    }

    .divpaddingtext {
        padding: 0 0.5rem;
    }

    .hinfo {
        padding: 1rem;
    }

    .flex-content {
        padding: 1rem;
    }

    .flex-content-program {
        padding: 2rem 1rem;
    }

    .pinfo {
        padding: 0 1rem 1rem;
        font-size: 1.2rem;
    }

    .pinfofull {
        padding: 0 1rem;
        font-size: 1.2rem;
    }

    .hschedule {
        font-weight: 500;
    }

    .timeline .right::after {
        left: 3px;
    }

    .divform {
        padding: 2rem 0;
    }

    .navbar {
        padding: 0.3rem 1rem;
    }
}